.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
}

.loginButton {
  margin-top: 16px;
}