.gameList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  grid-gap: 16px;
}

.gameCard {
  border: 1px solid #666;
  background-color: #444;
  border-radius: 4px;
}

.title {
  padding: 8px;
  border-bottom: 1px #222 solid;
}

.content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 8px;

  padding: 16px;
}

.label {
  margin-left: 16px;
  color: #e8e84f;
}

.value {
  text-align: left;
}