.znaiblog-theme-switch-action {
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
html, body {
    height: 100%;
}

#root, #znai, .blog-layout, .with-theme {
    height: 100%;
}

.znai-main-panel {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;

    min-height: 100vh;
    max-height: none;

    padding-left: 0;
    padding-right: 0;
}

.znai-diff-highlight {
    height: 100%;
}

.blog-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    height: 32px;

    background: var(--znaiblog-header-background);
    padding-left: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    padding-right: calc(1 * var(--znai-single-side-horizontal-min-spacing));

    border-bottom: 1px solid;

    margin-bottom: 48px;
}

.blog-header-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;

    width: var(--znai-single-column-full-width);
    font-size: 16px;
    color: var(--znaiblog-header-color);

    margin-left: auto;
    margin-right: auto;
}

.blog-header-title {
    font-weight: bold;
    cursor: pointer;
    margin-right: 8px;
}

.page-content {
    padding-bottom: 16px;
    padding-left: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    padding-right: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    -webkit-box-flex: 1;
            flex-grow: 1;
}

.empty-section-title {
    display: none;
}

.blog-discuss {
    padding-left: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    padding-right: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    margin-top: 32px;
}

.blog-discuss-content {
    display: -webkit-box;
    display: flex;

    max-width: var(--znai-single-column-full-width);

    margin-left: auto;
    margin-right: auto;
}

.blog-discuss-twitter {
    margin-right: 24px;
}

.footer {
    margin-left: 0;
    margin-right: 0;
}
.list-all-categories {
    width: var(--znai-single-column-full-width);
    margin-left: auto;
    margin-right: auto;
}

.list-of-blog-entries-category {
    font-size: 32px;
    padding-bottom: 4px;
    margin-bottom: 24px;
    border-bottom: 1px solid gray;

    color: var(--znaiblog-entries-category-color);

    text-transform: capitalize;
}

.list-of-blog-entries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}

.blog-list-entry-link-wrapper {
    display: block;
    width: 100%;
}

.blog-list-entry a {
    color: var(--znai-regular-text-color);
    text-decoration: none;
}

.blog-list-entry-title {
    font-size: var(--znaiblog-list-title-size);
    color: var(--znaiblog-article-title-color);
    font-weight: bold;
}

.blog-list-entry-date {
    color: var(--znai-regular-text-light-color);
    font-size: 12px;
    margin-bottom: 12px;
}

.blog-list-entry-summary {
    color: var(--znai-regular-text-color);
    font-size: 16px;
}

.blog-page-title-title {
    font-size: var(--znaiblog-title-size);
    color: var(--znaiblog-article-title-color);
    font-weight: bold;
    margin-bottom: 8px;
}

.blog-page-title-meta {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 32px;
}

.blog-page-title-date {
    color: var(--znai-regular-text-light-color);
    font-size: var(--znai-smaller-text-size);
    margin-right: 8px;
}

.blog-page-title-presentation {
    color: var(--znai-regular-text-light-color);
    font-size: var(--znai-small-meta-text-size);
    cursor: pointer;
}
.znai-section-title {
    border-bottom: 1px solid;
}
:root {
    --znaiblog-article-title-color: #333;

    --znai-single-column-full-width: 900px;
    --znai-single-side-horizontal-min-spacing: 20px;
    --znaiblog-title-size: 36px;
    --znaiblog-list-title-size: 22px;

    --znaiblog-header-background: none;
    --znaiblog-header-color: #232323;
    --znai-snippets-bullet-background-color: #1267a7;

    --znaiblog-mobile-breakpoint: 600px;

    --znaiblog-entries-category-color: #444;
}

.theme-znai-dark {
    --znaiblog-article-title-color: #fafafa;
    --znaiblog-entries-category-color: #eee;
    --znaiblog-header-color: #afafaf;
}

