.znaiblog-theme-switch-action {
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
html, body {
    height: 100%;
}

#root, #znai, .blog-layout, .with-theme {
    height: 100%;
}

.main-panel {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;

    height: 100%;
    min-height: 0;
    max-height: none;

    padding-left: 0;
    padding-right: 0;
}

.blog-header {
    background-color: var(--znaiblog-header-background-color);
    padding-left: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    padding-right: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    margin-bottom: 48px;
}

.blog-header-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;

    width: var(--znai-single-column-full-width);
    font-size: var(--znaiblog-title-size);
    color: var(--znaiblog-header-color);

    padding: 16px 0;

    margin-left: auto;
    margin-right: auto;
}

.blog-header-title {
    font-weight: bold;
    cursor: pointer;
    margin-right: 8px;
}

.page-content {
    padding-bottom: 16px;
    padding-left: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    padding-right: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    -webkit-box-flex: 1;
            flex-grow: 1;
}

.empty-section-title {
    display: none;
}

.blog-discuss {
    padding-left: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    padding-right: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    margin-top: 32px;
}

.blog-discuss-content {
    display: -webkit-box;
    display: flex;

    max-width: var(--znai-single-column-full-width);

    margin-left: auto;
    margin-right: auto;
}

.blog-discuss-twitter {
    margin-right: 24px;
}

.footer {
    margin-left: 0;
    margin-right: 0;
}
.list-of-blog-entries {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;

    width: var(--znai-single-column-full-width);
    margin-left: auto;
    margin-right: auto;
}

.blog-list-entry-link-wrapper {
    display: block;
    width: 100%;
}

.blog-list-entry a {
    color: var(--znai-regular-text-color);
    text-decoration: none;
}

.blog-list-entry-title {
    font-size: var(--znaiblog-list-title-size);
    color: var(--znai-brand-primary-color);
    font-weight: bold;
}

.blog-list-entry-date {
    color: var(--znai-regular-text-light-color);
    font-size: var(--znai-smaller-text-size);
    margin-bottom: 8px;
}

.blog-list-entry-summary {
    color: var(--znai-regular-text-color);
}

.blog-page-title-title {
    font-size: var(--znaiblog-title-size);
    color: var(--znai-brand-primary-color);
    font-weight: bold;
    margin-bottom: 8px;
}

.blog-page-title-meta {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 16px;
}

.blog-page-title-date {
    color: var(--znai-regular-text-light-color);
    font-size: var(--znai-smaller-text-size);
    margin-right: 8px;
}

.blog-page-title-presentation {
    color: var(--znai-regular-text-light-color);
    font-size: var(--znai-small-meta-text-size);
    cursor: pointer;
}
:root {
    --znai-brand-primary-color: #9c52aa;
    --znai-single-column-full-width: 900px;
    --znai-single-side-horizontal-min-spacing: 20px;
    --znaiblog-title-size: 36px;
    --znaiblog-list-title-size: 28px;

    --znaiblog-header-background-color: #17151d;
    --znaiblog-header-color: #afafaf;

    --znaiblog-mobile-breakpoint: 600px;
}

@media only screen and (max-width: 940px) {
    :root {
        --znai-single-column-full-width: auto;
    }

    svg {
        max-width: 100%;
    }

    .snippet-container {
        margin-left: calc(-1 *var(--znai-single-side-horizontal-min-spacing));
        margin-right: calc(-1 *var(--znai-single-side-horizontal-min-spacing));
    }

    .snippet-container .title-container .title,
    .snippet-container .snippet {
        border: none;
    }

    .snippet-container pre {
        white-space: nowrap;
        word-wrap: normal;
        overflow-x: auto;
    }
}

