.znaiblog-theme-switch-action {
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.znaiblog-article-section-selection {
    position: fixed;
    border-bottom: 1px solid;

    display: -webkit-box;

    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;

    background: var(--znaiblog-header-background);

    padding: 4px;
    box-sizing: border-box;

    top: 0;
    left: 0;
    right: 0;
    min-height: 32px;

    z-index: 1000;
}

.znaiblog-article-section-selection.collapsed {
    cursor: pointer;
}

.znaiblog-article-section-selection.expanded {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;

    bottom: 0;
    height: 100%;
    -webkit-box-pack: start;
            justify-content: flex-start;
}

.znaiblog-article-section-selection-title-area {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    padding: 8px;
}

.znaiblog-article-section-selection-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-right: 8px;
}

.znaiblog-article-section-selection-close {
    font-size: 12px;
    padding: 4px;
    cursor: pointer;
}

.znaiblog-article-section-selection-sections-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    gap: 8px;
    overflow: auto;
}

.znaiblog-article-section-selection-section {
    cursor: pointer;
    font-size: 18px;
}

.znaiblog-article-section-selection-section.selected {
    font-weight: bold;
}

.znaiblog-body-no-scroll {
  overflow: hidden;
}
html, body {
    height: 100%;
}

#root, #znai, .blog-layout, .with-theme {
    height: 100%;
}

.znai-main-panel {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;

    padding-left: 0;
    padding-right: 0;
    overflow: unset;
}

.znai-diff-highlight {
    height: 100%;
}

.blog-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    min-height: 32px;

    background: var(--znaiblog-header-background);
    padding-left: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    padding-right: calc(1 * var(--znai-single-side-horizontal-min-spacing));

    border-bottom: 1px solid;

    margin-bottom: 48px;
}

.blog-header-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;

    height: 100%;

    width: var(--znai-single-column-full-width);
    font-size: 16px;
    color: var(--znaiblog-header-color);

    margin-left: auto;
    margin-right: auto;
}

.blog-header-title {
    font-weight: bold;
    cursor: pointer;
    margin-right: 8px;
}

.page-content {
    padding-bottom: 16px;
    padding-left: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    padding-right: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    -webkit-box-flex: 1;
            flex-grow: 1;
}

.empty-section-title {
    display: none;
}

.blog-discuss {
    padding-left: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    padding-right: calc(1 * var(--znai-single-side-horizontal-min-spacing));
    margin-top: 32px;
}

.blog-discuss-content {
    display: -webkit-box;
    display: flex;
}

.blog-discuss-twitter {
    margin-right: 24px;
}

.footer {
    margin-left: 0;
    margin-right: 0;
}
.znaiblog-list-all-categories {
}

.znaiblog-list-of-blog-entries-category {
    font-size: 32px;
    padding-bottom: 4px;
    margin-bottom: 24px;
    border-bottom: 1px solid gray;

    color: var(--znaiblog-entries-category-color);

    text-transform: capitalize;
}

.znaiblog-list-of-blog-entries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}

@media only screen and (max-width: 940px) {
    .znaiblog-list-of-blog-entries {
        grid-template-columns: 1fr;
    }
}

.znaiblog-list-entry-link-wrapper {
    display: block;
    width: 100%;
}

.znaiblog-list-entry a {
    color: var(--znai-regular-text-color);
    text-decoration: none;
}

.znaiblog-list-entry-title {
    font-size: var(--znaiblog-list-title-size);
    color: var(--znaiblog-article-title-color);
    font-weight: bold;
}

.znaiblog-list-entry-date {
    color: var(--znai-regular-text-light-color);
    font-size: 12px;
    margin-bottom: 12px;
}

.znaiblog-list-entry-summary {
    color: var(--znai-regular-text-color);
    font-size: 16px;
}

.blog-page-title-title {
    font-size: var(--znaiblog-title-size);
    color: var(--znaiblog-article-title-color);
    font-weight: bold;
    margin-bottom: 8px;
}

.blog-page-title-meta {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 32px;
}

.blog-page-title-date {
    color: var(--znai-regular-text-light-color);
    font-size: var(--znai-smaller-text-size);
    margin-right: 8px;
}

.blog-page-title-presentation {
    color: var(--znai-regular-text-light-color);
    font-size: var(--znai-small-meta-text-size);
    cursor: pointer;
}
.znai-section-title {
    border-bottom: 1px solid;
}
:root {
    --znaiblog-article-title-color: #333;

    --znaiblog-title-size: 36px;
    --znaiblog-list-title-size: 22px;

    --znaiblog-header-background: var(--znai-background-color);
    --znaiblog-header-color: #232323;

    --znaiblog-mobile-breakpoint: 600px;

    --znaiblog-entries-category-color: #444;
}

.theme-znai-dark {
    --znaiblog-article-title-color: #fafafa;
    --znaiblog-entries-category-color: #eee;
    --znaiblog-header-color: #afafaf;
    --znaiblog-header-background: var(--znai-background-color);
}

